body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    overflow: hidden;
}
.box{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 20px;
}
.hero-box{
    border: solid 1px;
    width: 100px;
    padding: 5;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
.hero-box:hover{
    background-color: lightsalmon;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
#search-input{
    font-size: 25px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 15px;
}
.box a{
    color: black;
    text-decoration: none;
}
.modal img{
    width: 400px;
}
@media only screen and (max-width: 490px) {
    .modal img {
      width: 200px;
    }
}
@media only screen and (max-width: 268px) {
    .modal img {
      width: 100px;
    }
}
@media only screen and (max-width: 162px) {
    .modal img {
      width: 50px;
    }
}
.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerDiv{
    align-self: baseline;
}
.headerDiv{
    font-size: 2.5vh;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.search{
    font-size: 25px;
}